body { 
    margin: 0;
    line-height: 1.6;
}

/* SHOWCASE */
.showcase {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60vh;
    background-color: aquamarine;
    overflow-y: hidden;
}
.showcase .container {
    max-width: 1180px;
    text-align: center;
    margin: 0 auto;
    padding: 0 3rem;
    margin-top: 15vh;
}

.showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
}
 
.showcase h2 {
    font-size: 2rem;
}

/* NOTIFCATION */
.notification {
    margin: 0 auto;
    text-align: center;
    background-color: rgb(122, 129, 127);
    overflow-y: hidden;
}

.notification h1 {
    font-size: 2rem;
    margin-bottom: 0;
}

.notification .container {
    max-width: 1180px;
    text-align: center;
    margin: 0 auto;
    padding: 0rem 3rem 1rem 3rem;
}

input[type=email] {
    border: 1px solid;
    border-radius: 5px;
    padding: 12px 20px;
    margin: 8px 0;
    width: 40%;
}

button {
    border: none;
    border-radius: 5px;
    color: white;
    background: red;
    padding: 1rem 2rem;
}

button:hover {
    background: blue;
}


/* SKILLS SECTION */

.skills {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content:center;
    justify-content: center;
}

.skill {
    max-width: 300px;
    min-width: 300px;
    padding: 20px;
}

.skill h1 {
    font-size: 1.6rem;
    text-align: center;
}

.skill .link {
    text-align: center;
}

.skill a {
    border: none;
    border-radius: 5px;
    color: white;
    background: red;
    padding: 1rem 2rem;
    text-decoration: none;
}

img {
    width: 100%;
}


.digitally {
    font-family: 'Black Ops One', cursive;
}

.uncommon {
    font-family: 'Ceviche One', cursive;
}

@media screen and (max-width: 860px) {

    .showcase h1 {
        font-size: 2rem;
    }
    
    .showcase h2 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 580px) {
    .showcase { 
        height: 40vh;
    }

    .showcase  .container {
         margin-top: 8vh;
         padding: 0 2rem;
    }

    .showcase h1 {
        font-size: 1.5rem;
    }
    
    .showcase h2 {
        font-size: 1.2rem;
    }

    
    .notification .container {
        padding: 0 2rem;
    }

    .notification h1 {
        font-size: 1.4rem;
    }

    input[type=email] {
        width: 80%;
    }
    
}